<!DOCTYPE html>
<h1> {{ album.title }} </h1>

{% if album.cover_image %}
<img src="{{ album.cover_image.url }}" alt="{{ album.title }} cover" style="max-width: 200px; height: auto;">
{% endif %}
<h2> Songs </h2>
<ul>
    {% for s in songs %}
    <li>
        <a href="/songs/{{ s.id }}/">{{ s.title }}</a>
    </li>
    {% endfor %}
</ul>
<h2>Ratings</h2>
<p>Average rating of all time: {{ average_alltime_str }}</p>
<p>Recent rating average (last 30 days): {{ average_recent_str }}</p>

<h2>Comments</h2>
<ul>
  {% for comment in comments %}
    <li>
      <strong>{{ comment.user.display_name }}</strong>:
      {{ comment.comment_text }}
    </li>
  {% empty %}
    <li>No comments for this album.</li>
  {% endfor %}
</ul>