<!doctype html>
<h1>Home</h1>

<form method="post" action="/accounts/logout/">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>

{% if albums %}
  <h2>Albums</h2>
  <ul>
    {% for a in albums %}
      <li>
        <a href="{% url 'album_detail' a.id %}">{{ a.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if playlists %}
  <h2>Playlists</h2>
  <ul>
    {% for p in playlists %}
      <li>
        <strong>{{ p.name }}</strong>
        <ul>
          {% for s in p.songs.all %}
            <li>
              <a href="/songs/{{ s.id }}/">{{ s.title }}</a>
              — {{ s.album.title }}
            </li>
          {% empty %}
            <li>No songs in this playlist</li>
          {% endfor %}
        </ul>
      </li>
    {% empty %}
      <li>No playlists</li>
    {% endfor %}
  </ul>
{% endif %}

{% if songs %}
  <h2>Songs</h2>

  <p>Total results found: {{ songs|length }}</p>

  <ul>
    {% for s in songs %}
      <li>
        <a href="{% url 'song_detail' s.id %}">{{ s.title }}</a>
        ({{ s.album.title }})
      </li>
    {% endfor %}
  </ul>
{% endif %}