{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="text-center">{% trans "Delete Song" %}</h1>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">{% trans "Delete" %}: {{ object.title }}</h2>

    <p>
      <strong>{% trans "Album" %}:</strong>
      <a href="{% url 'album_detail' object.album.id %}">{{ object.album.title }}</a>
    </p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Confirm" %}</button>
    <a href="{% url 'song_detail' object.pk %}" class="btn btn-secondary">Cancel</a>
  </form>
  </div>
</div>
{% endblock %}
